<div class="bg-white">
    <div class="mx-auto">
      <div class="text-center">
        <div class="flex justify-center">
            <%= image_tag @result.dig('image'), size: '533x800' %>
        </div>
        <p class="mt-8 text-lg font-medium text-pretty text-black-500 sm:text-xl/8">
            <%= @score %>点：<%= @result.dig('title') %>
        </p>
        <p  class="mt-8 text-lg font-medium text-pretty text-black-500 sm:text-xl/8">
            <%= @result.dig('subtitle') %>
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-30">
            <a class="px-4 py-4 font-medium tracking-wide text-white lg:w-38 sm:w-20 capitalize transition-colors duration-300 transform bg-yellow-900 rounded-lg hover:bg-yellow-600 focus:outline-none" href="/question/show">
                Xシェア
            </a>
            <a class="px-4 py-4 font-medium tracking-wide text-white lg:w-38 sm:w-20 capitalize transition-colors duration-300 transform bg-yellow-900 rounded-lg hover:bg-yellow-600 focus:outline-none" href="/">
                トップページへ
            </a>
        </div>
      </div>
    </div>
</div>
